{% extends 'base.html' %}
{% block content %}
<h2>А це ще якась сторінка</h2>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium."
    "In hac habitasse platea dictumst. Donec vehicula augue sed nisi ultricies, ac eleifend nulla aliquam.""Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium."
    "In hac habitasse platea dictumst. Donec vehicula augue sed nisi ultricies, ac eleifend nulla aliquam.""Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium."
    "In hac habitasse platea dictumst. Donec vehicula augue sed nisi ultricies, ac eleifend nulla aliquam."</p>

{% endblock content %}



